@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid;
  border-radius: 10px;
  max-width: 600px;
}

h1 {
  color: #1cf300;
}

h2 {
  color: #bb1a1a;
}
